@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");

* {
    @apply box-border select-none font-fredoka;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
  @apply bg-black text-white;
}

@theme {
  --font-fredoka: "Fredoka", sans-serif;
  --font-jetbrains: "Jetbrains Mono", monospace;
  --font-oldstd: "Old Standard TT", serif;
  --font-cmth: "Cambria Math";
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}
