@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");
@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");

@import "tailwindcss";

* {
    @apply box-border select-none font-fredoka;

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

html, body {
    @apply h-full bg-black text-white;
}

@theme {
  --font-fredoka: "Fredoka", sans-serif;
  --font-oldstd: "Old Standard TT", serif;
  --font-cmth: "Cambria Math";

    --color-fg-dimmed: #151515;
    --color-fg: #252525;
    --color-fg-lighter: #3C3C3C;
    --color-fg-more-lighter: #4F4F4F;
    --color-fg-even-more-lighter: #606060;

    --color-fgray: #B8B8B8;
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}
